@font-face {
  src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
  font-family: "Denver-Black";
}

.newBookComponent {
  height: 100%;
  width: 100%;
}

.imageOneBoxContent {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}
/* --------------------------------------------------EDITBOOK------------- */
.newBookEditBox {
  width: 92.5%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -30px;
  height: 40px;
}

.editNewBookButton {
  height: 40px;
  width: 40px;
  font-size: 26px;
  color: #f98c88;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editNewBookButton :hover {
  cursor: pointer;
  font-size: 30px;
  color: #fb807b;
}
/* ------------------------------------------------------------------------ */
/* -------------------------------TEMPORARY--------------- */
.newBookComponent {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.imageOneBoxContentTemp {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.imageOneTemp {
  margin-top: 10px;
  width: 20vw;
  height: auto;
  object-fit: cover;
  border: 1px solid #777777;
  border-radius: 5px;
  box-shadow: -9px 10px 8px 0px rgba(0, 0, 0, 0.472);
}
.newBookTitleTemp {
  font-size: 50px;
  margin-bottom: 10px;
  color: #252d42;
}
.newBookTitleTempTwo {
  font-size: 45px;
  margin-top: 75px;
  color: #252d42;
}
.newBookReleaseDateTemp {
  font-size: 1.5vw;
  color: #252d42;
  width: auto;
  height: auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buyButtonContainerTemp {
  width: 28vw;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.buyLinkButtonBoxTemp {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  font-size: 1.8vw;
  font-family: "Denver-Black";
  color: #2a324b;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-color: rgb(90, 90, 90);
  border-style: solid;
  text-transform: uppercase;
  box-shadow: -9px 10px 8px 0px rgba(0, 0, 0, 0.472);
}
.newBookTitle-InfoTemp {
  width: 30vw;
  height: auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
/* -------------------------------TEMPORARY--------------- */
.imageOne {
  margin-top: 10px;
  width: 20vw;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: -9px 10px 8px 0px rgba(0, 0, 0, 0.472);
}

.newBookTitle-Info {
  font-size: 2vw;
  width: 45%;
  height: auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newBookTitle {
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

/* ------------------------------------------Media queries--------------------------------------- */
@media (min-width: 1850px) {
  .newBookTitle {
    font-size: 60px;
  }

  .newBookTitle-Info {
    font-size: 35px;
  }

  .imageOne {
    width: 21vw;
  }
}

@media (max-width: 1350px) {
  .imageOne {
    width: 35%;
  }
}

@media (max-width: 1160px) {
  .imageOne {
    width: 324px;
    height: 509px;
  }
  .newBookTitle-Info {
    font-size: 2vw;
  }

  .newBookTitle {
    font-size: 4vw;
  }
}

@media (max-width: 1000px) {
  .imageOneBoxContent {
    align-items: center;
    flex-direction: column;
  }

  .imageOne {
    width: 50%;
    height: auto;
  }

  .newBookTitle {
    font-size: 6vw;
  }

  .newBookTitle-Info {
    font-size: 35px;
    width: 80%;
  }
}

@media (max-width: 800px) {
  .newBookTitle-Info {
    font-size: 4vw;
    width: 90%;
  }
  .imageOne {
    width: 60%;
  }
}
