@font-face {
  src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
  font-family: "Denver-Black";
}

.newBookComponent {
  height: 100%;
  width: 100%;
}

.imageOneBoxContent {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}
/* --------------------------------------------------EDITBOOK------------- */
.newBookEditBox {
  width: 92.5%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -30px;
  height: 40px;
}

.editNewBookButton {
  height: 40px;
  width: 40px;
  font-size: 26px;
  color: #f98c88;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editNewBookButton :hover {
  cursor: pointer;
  font-size: 30px;
  color: #fb807b;
}
/* ------------------------------------------------------------------------ */
.imageOne {
  margin-top: 10px;
  width: 30%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.newBookTitle-Info {
  font-size: 20px;
  width: 45%;
  height: auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newBookTitle {
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

/* ------------------------------------------Media queries--------------------------------------- */
@media (min-width: 1850px) {
  .newBookTitle {
    font-size: 60px;
  }

  .newBookTitle-Info {
    font-size: 35px;
  }

  .imageOne {
    width: 35%;
  }
}

@media (max-width: 1500px) {
  .newBookTitle-Info {
    font-size: 23px;
  }
}

@media (max-width: 1350px) {
  .imageOne {
    width: 35%;
  }
}

@media (max-width: 1160px) {
  .imageOne {
    width: 324px;
    height:509px;
  }
  .newBookTitle-Info {
    font-size: 2vw;
  }
  
  .newBookTitle{
    font-size:4vw;
  }
}

@media (max-width: 1000px) {
  .imageOneBoxContent{
    align-items: center;
    flex-direction: column;
  }

  .imageOne {
    width: 50%;
    height:auto;
  }

  .newBookTitle {
    font-size: 6vw;
  }

  .newBookTitle-Info {
    font-size: 35px;
    width: 80%;
  }
}

@media (max-width: 800px) {
  .newBookTitle-Info {
    font-size: 4vw;
    width: 90%;
  }
  .imageOne {
    width: 60%;
  }
}

@media (max-width: 650px) {
}

