@font-face {
    src: url(../../Denver-Black-Font/Denver-Black.ttf);
    font-family: 'Denver-Black';
  }






.newsletterComponent{
    height: auto;
    min-height: 600px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: solid;
    border-radius: 5px;
    border-color: #2b3452ec;
    border-width: 3px;
    margin-top: 50px;
    color:#2b3452ec;
}

.titleAndContentNewsletter{
    text-align: center;
    height: 17vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.newsletterTitle{
    font-size: 35px;
    font-family: 'Denver-Black';
    color: #41b9bf;
    /* text-decoration: underline; */
}

.line{
    border-color:#41b9bf;

}

.newsletterContent{
    font-size: 25px;
}

/* -----------Inputs------------------ */


.inputFields{
    height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.newsletterInput{
    font-size: 25px;
    text-align: center;
}

/* ---------------------------Button---------------- */

.NewsletterButtonBox{
    height: 50px;
    width: 20%;
}
.newsletterButton{
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    text-transform: uppercase;
    font-family: 'Denver-Black';
}

.NewsletterButtonBox :hover{
    background-color: #2A324B;
    color: white;
    border-color: #2A324B;
    cursor: pointer;
    box-shadow: 0 0 10px #000105;
}
