@font-face {
    src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
    font-family: 'Denver-Black';
}

.aboutComponent{
    height: auto;
    min-height: 750px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 40px;
    justify-content: space-evenly;
    border-style: solid;
    border-radius: 5px;
    border-color: #2b3452ec;
    border-width: 3px;
}

.aboutComponentTop{    
  animation: transitionIn 2.5s;
}
/* -------------------------------------EDIT ABOUT---------------------- */
.aboutEditBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: -50px;
    margin-top: -50px;
    margin-Bottom: 50px;
}

.aboutEdit{
    height: 40px;
    width: 40px;
    font-size: 33px;
    color: #f98c88;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutEdit:hover{
    cursor: pointer;
    font-size: 38px;
    color: #fb807b;
  }
/* ------------------------------------------------------------------ */
.aboutTitle{
    color: #f98c88;
    font-size: 35px;
    font-family: "Denver-Black";
    margin-bottom: 50px;
    border-bottom: #f98c88 solid 5px;
    padding: 5px;
    animation: transitionIn 2.5s;
}

.aboutText{
    width: 95%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    /* text-align: center; */
    color: #2b3452ec;
}

.aboutImage1-P1 p{
    text-align: unset;
}

.aboutImage2-P2 p{
    text-align: unset;
}

.P3 p{
    text-align: unset;
}

/* ----------------Paragraph1------------- */
.aboutImage1-P1{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.kortneyChildPic{
    width: 35%;
    margin-right: 20px;
}

.aboutP1{
    width: 55%;
}

/* ----------------Paragraph2------------- */
.aboutImage2-P2{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.aboutP2{
    width: 55%;
}

.kortneyAboutPic{
    width: 35%;
    margin-left: 20px;
}


/* ----------------Paragraph3------------- */
.P3{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.aboutP3{
    width: 88%;
    margin-top: 10px;
}



