@font-face {
    src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
    font-family: 'Denver-Black';
  }
  
  .navigationHamComponent{
    position: fixed;
    right:0;
    top:0;
    z-index: 2;
    background-color: white;
}

.navHamButtons{
        width: auto;
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content:space-evenly;
        font-family: 'Denver-Black';    
}