/* ----------NAVIGATION PAGE--------------- */

@font-face {
    src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
    font-family: 'Denver-Black';
  }



.navigationComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 80vw;
    background-color: white;
    color: rgb(71, 71, 71);    
    margin-bottom: 20px;
    margin-top: 50px;
    /* font-size: 25px; */
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.navButtons{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 50px;
    font-family: 'Denver-Black';    
}

.greySpace{
    position: fixed;
    right:0;
    top:0;
    z-index: 1;
    height:100vh;
    width:100vw;
    background-color: rgb(59, 59, 59);
    opacity:.5;
}

.hamburger{
    height: 100%;
    width: 100%;
    display: flex;
    transform: translateY(none);
}


.hamburger li{
    height:22.5px;
    width:22.5px;
}

.toggler{
    height: 40px;
    width: 40px;
    position: absolute;
    top:20px;
    right:35px;
    z-index: 2;    
    cursor: pointer;
    opacity: 0;
}


.iconHamburgerBox{
    height: 40px;
    width: 40px;
    position: absolute;
    top:20px;
    right:35px;
    z-index: 1;    
    cursor: pointer;
}

.iconHamburger{
    display: none;
    /* height:auto; */
    /* width: auto; */
    /* margin-top: 150px; */
    font-size: 80px;
    /* color:black; */
    /* margin: 70px 170px 0 0; */
}

.hiddenButtons{
    width:80vw;
    display: flex;
    flex-direction: row;
}

.logoutComp{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 17px;
    width:50%;
}

.logoutBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconLogout{
    font-size: 30px;
}



.KLogo{
    /* width: 38vw; */
    width: 729px;
    height:auto;
    margin-right: 10vh;
    margin-left: 10vh;
}

.KLogoBox{
    height:auto;
    margin-top:none;
    margin:none;
}

.navHome{
    margin-right: 1.3vw;
    margin-left: 1.3vw;
}

.navBooks{
    margin-right: 1.3vw;
    margin-left: 1.3vw;
}

.navNewsletter{
    display: flex;
    justify-content: center;
    margin-right: 1.3vw;
    margin-left: 1.3vw;
}

.navAbout{
    margin-right: 1.3vw;
    margin-left: 1.3vw;
}

.navContact{
    margin-right: 1.3vw;
    margin-left: 1.3vw;
}

.navBlog{
    margin-right: 1.3vw;
    margin-left: 1.3vw;
}

/* ------------Nav Functionality--------------- */

nav .navButtons div:hover {
    color: rgb(148, 148, 148); 
    cursor: pointer;
    transform: translateY(-10%) scaleY(1);
}

.logoutBox:hover{
    color: rgb(148, 148, 148); 
    cursor: pointer;
}

.selected{
    color: rgb(0, 0, 0);
    margin-right: 1.3vw;
    margin-left: 1.3vw;
    text-decoration: underline;

}


/* -------------------------------------------------------------------Media Queries------------------------------------------------------- */

@media (min-width:1850px){
    .KLogo{
        width:45vw;
    }
}

@media(max-width:1850px){
    .navigationComponent{
        font-size: 37px;
    }
}

@media(max-width:1500px){
    .selected{
        margin: 0px;
    }
}

@media(max-width:1500px){
    .navHome{
        margin: 0px;
    }
}

@media(max-width:1500px){
    .navBooks{
        margin: 0px;
    }
}

@media(max-width:1500px){
    .navNewsletter{
        margin: 0px;
    }
}

@media(max-width:1500px){
    .navAbout{
        margin: 0px;
    }
}

@media(max-width:1500px){
    .navContact{
        margin: 0px;
    }
}

@media(max-width:1500px){
    .navBlog{
        margin: 0px;
    }
}



@media (max-width: 1450px){
    .navigationComponent{
        font-size: 35px;
    }
}

@media (max-width: 1400px){
    .navigationComponent{
        font-size: 30px;
        color: black;
    }
    
    .KLogo{
        height:auto;
        margin-right: 10vh;
        margin-left: 10vh;
    }
    
    .selected{
        color: rgb(97, 97, 97);
    }
  
  

}

@media(max-width:1200px){
    .navigationComponent{
        font-size: 30px;
    }
}


@media (max-width: 1100px){
    
    .hamburger{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 75vw;
        height:auto;
    }

    .hamburger li{
        width:auto;
    }
    
    
    .iconHamburger{
        font-size: 6.5vw; 
        display: contents;
    }


    .navButtons{
        display: none;
    } 
  }

  @media (max-width:800px){
      .KLogo{
          width: 88vw;
          height: auto;
      }

      .iconHamburger{
        font-size: 6.5vw;
      }

      .hamburger{
          width:90vw;
      }
  }

  @media(max-width: 650px){
      .iconHamburger{
          font-size: 6.5vw;
      }
  }


 
