@font-face {
  src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
  font-family: 'Denver-Black';
}




.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}


li{
    list-style-type: none;
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{    
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  height: auto;
  min-height: 1500px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.homeTitle {
  font-size: 50px;
  color: #f98c88d5;
  font-family: 'Denver-Black';
  margin-top: 30px;
  margin-bottom: 30px;
  animation: transitionIn 2.5s;
}

.imageOneBox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 80px;
  border-style: solid;
  border-radius: 5px;
  border-color: #2b3452ec;
  border-width: 3px;
}

.imageOneBoxContent {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.imageOne {
  margin-top: 10px;
  width: 30%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.homeBookTitle {
  font-size: 50px;
  margin-bottom: 10px;
}

.homeBookTitle-Info {
  font-size: 20px;
  width: 45%;
  height: auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  text-align: center;
}

/* -------------------------------------------------------------------Media Queries------------------------------------------------------- */

@media (max-width: 1400px){
  .homePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  
  /* .KLogoBox {
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: auto;
  } */


}



