.homePage {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

.KLogoBox {
  margin-top: 100px;
  margin-bottom: 100px;
  height: auto;
  width: auto;
}


.label{
    /* display: none; */
}

li{
    list-style-type: none;
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{    
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  height: auto;
  min-height: 1500px;
  width: 1000px;
  /* background-color: rgb(255, 158, 174); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.homeTitle {
  font-size: 50px;
  color: black;
}

.imageOneBox {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #ED6A5E;
  border-radius: 8px;
  box-shadow: -9px 10px 8px 0px rgba(0,0,0,0.75);
}

.imageOne {
  margin-top: 10px;
  width: 80%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

.homeBookTitle {
  font-size: 35px;
}

.homeBookTitle-Info {
  font-size: 20px;
  width: 90%;
  height: auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* -------------------------------------------------------------------Media Queries------------------------------------------------------- */

@media (max-width: 1400px){
  .homePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }
  
  .KLogoBox {
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    width: auto;
  }


}



