.homePage{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}

.KLogoBox{
    margin-top: 100px;
    margin-bottom: 100px;
    height:auto;
    width: auto;
}
