@font-face {
    src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
    font-family: 'Denver-Black';
  }



.contactComponent{
    height: auto;
    /* min-height: 750px; */
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: solid;
    border-radius: 5px;
    border-color: #2b3452ec;
    border-width: 3px;
    margin-top: 50px;
    color:#2b3452ec;
    padding-top: 40px;
    padding-bottom: 50px;
}

.titleAndContentcontact{
    text-align: center;
    min-height: unset;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contactTitle{
    font-size: 35px;
    font-family: 'Denver-Black';
    color: #f98c88;
    border-bottom: 5px #f98c88 solid;
    padding-bottom: 3px;
    animation: transitionIn 2.5s;
}

.contactContent{
    font-size: 25px;
    margin-top: 20px;
}

/* -----------Inputs------------------ */


.contactInputFields{
    min-height:50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contactInput{
    width:35%;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactEmail{
    margin: unset;
    margin-top: 10px;
    width: 90%;
    min-height: 200px;
    font-size: 25px;    
    padding: 10px;
    border-radius: 5px;
    background-color: #f98c8894;
    border-color: #f98c88;    
    border-width: 2px;
    border-style: inset;
    word-wrap: break-word;
}

/* ---------------------------Button---------------- */

.contactButtonBox{
    height: auto;
    width: 15vw;
    margin-top: 15px;
}

.contactButton{
    height: auto;
    border-radius: 5px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    text-transform: uppercase;
    font-family: 'Denver-Black';
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.contactButtonBox :hover{
    background-color: #2A324B;
    color: white;
    border-color: #2A324B;
    cursor: pointer;
    box-shadow: 0 0 10px #000105;
}


/* -------------------------------------------------------------------Media Queries------------------------------------------------------- */


  @media (max-width: 1100px) {
      .contactInputFields{          
    min-height:40vh;
      }
    .contactTitle {
      font-size: 3vw;
      text-align: center;
    }
    .contactInput{
        font-size: 2vw;
        height:auto;
        min-height: unset;
        width:56%;
    }
    
    .contactEmail{
        font-size: 2vw;
    }
    .contactContent{
        font-size: 2.5vw;
    }
    .contactButton{
        font-size: 2vw;
    }

  }



  @media (max-width: 850px) {
    .contactTitle {
      font-size: 3vw;
      text-align: center;
    }
    .contactInput{
        font-size: 2.5vw;
    }    
    .contactEmail{
        font-size: 2.5vw;
    }
    .contactContent{
        font-size: 2.5vw;
    }
    .contactButton{
        font-size: 2.5vw;
    }
    .contactButtonBox{
        width: 20vw;
    }
  }
  @media (max-width: 700px) {
    .contactComponent{
        width: 90vw;
    }
    .contactTitle {
        font-size: 3.75vw;
        text-align: center;
      }
      .contactInput{
          font-size: 3.25vw;
      }    
      .contactEmail{
        font-size: 3.25vw;
        min-height: 100px;
        width:86%
      }
      .contactContent{
        font-size: 3.25vw;
      }
      .contactButton{
        font-size: 3.25vw;
      }
      .contactButtonBox{
          width: 30vw;
      }

  }
