.iconsBox{
    color: Black;
    /* background-color: lawngreen; */
    height:100px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(136, 195, 214);
    margin-bottom: 50px;
}

.iconInstagram{    
    margin-right: 150px;
}

.iconTwitter{    
    margin-left: 150px;
}