.blogComponent{
    height: auto;
    min-height: 750px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    justify-content: space-evenly;
    background-color: rgb(255, 142, 114);
}

.postMain{

}