@font-face {
    src: url(../../Denver-Black-Font/Denver-Black.ttf);
    font-family: 'Denver-Black';
  }



.blogComponent{
  height: auto;
  min-height: 750px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  border-radius: 5px;
  border-color: #2b3452ec;
  border-width: 3px;
  margin-top: 50px;
  color:#2b3452ec;
}

.postMain{

}