@font-face {
  src: url(../../Fonts/Denver-Black-Font/Denver-Black.ttf);
  font-family: 'Denver-Black';
}
@font-face {
  src: url(../../Fonts/Kemuri-Regular.ttf);
  font-family: 'Kemuri';
}




.freeBookComponent{    
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:50px ;
}

.homeFreeBook {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #2b3452ec;
    border-width: 3px;
    padding-top: 55px; 
    padding-bottom: 55px; 
  }
  
  .homeFreeBookImage {
    width: 20vw;
    /* width: 30vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;  
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .freeBook {
    width:20vw;
    margin-right: 95px;
    border: 1px solid #777777;
    border-radius: 5px;
    box-shadow: -9px 10px 8px 0px rgba(0, 0, 0, 0.472);
  }
  
  .freeBookText-Button {
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .freeBookTitle{
    font-family: Denver-Black;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 2vw;
    margin: 10px;
  }
  
  .freeBookText {
    font-size: 1.5vw;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 60px;
    background-color: #f98c88c0;
    border-radius: 8px;
    /* --------Dark Shadow--------- */
    /* box-shadow: -9px 10px 8px 0px rgba(0, 0, 0, 0.472); */
  }

  .freeBookText p{
    margin-top: 10px;
    margin-bottom: 10px;
    /* font-family:Kemuri ; */
    text-transform: none;
  }
  
  .freeBookButtonBox{
      width:100%;
      height:250px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 25px;
  }

  
  .freeBookButton {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 1.8vw;
    font-family: 'Denver-Black';
    color:#2A324B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: rgb(90, 90, 90);
    border-style: solid;
    text-transform: uppercase;  
    box-shadow: -9px 10px 8px 0px rgba(0, 0, 0, 0.472);
  }
  
  .freeBookLI {
    height: 50%;
    width: 28vw;
  }
    
  .freeBookButtonBox :hover{
    background-color: #2A324B;
    color: white;
    border-color: #2A324B;
    box-shadow: 0 0 10px #000105;
  }
/* -------------------------------------------------------Media queries------------------------------------------ */

@media (max-width:1200px) {
  .freeBookButton {
    height: 80%;
  }
  .freeBookLI {
    height: 40%;
  }
  .homeFreeBookImage {
    width: 30vw;
  }
  
  .freeBook {
    width:30vw;
    margin: 0px;
  }
}


@media (max-width: 1000px) {
  .homeFreeBook {
    flex-direction: column;   
  }
  .freeBookText {
    font-size: 4vw;
    width: 100%;
  }
  .freeBookText-Button{
    width:75%;
  }
  .freeBookTitle{
    font-size: 4.7vw;
    line-height: 70px;
  }
  .freeBookButton {
    font-size: 3.5vw; 
    /* padding-top:50px;
    padding-bottom:50px; */
    height:100%;
    width: 50vw;
  }
  .freeBookLI {
    height: 10vh;
    width: 50vw;
  }
  
  .freeBook {
    width:40vw;
  }
  
}

@media (max-width: 800px) {
  .freeBookTitle{
    height:auto;
    line-height: 30px;
  }
  .freeBookComponent{
    width:100%;
  }
  .freeBook {
    width:50vw;
  }
  .freeBookText-Button{
    width:85%;
  }
  .homeFreeBook{
    padding:0px;
    width:100%;
  }
  .freeBookText{
    margin-top: 0px;
    width:86%;
    padding: 0px;
  }
  .freeBookButtonBox{
    margin: 0px;
  }
}


