body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes transitionIn {
  from {
      opacity: 0;
      /* transform: rotateX(-10deg); */
      transform: translateY(-50px);
  }

  to{
    opacity: 1;
    /* transform: rotateX(0); */
    transform: translateY(0);

  }
}
@keyframes transitionOut {
  from {
    opacity: 1;
    transform: rotateX(0)
  }

  to{
    opacity: 0;
    transform: rotateX(-10deg)
    }
}
/* -----------------------hamburger------------
 */

 @keyframes transitionHamIn {
  from {
      opacity: 0;
      /* transform: rotateX(-10deg); */
      transform: translateY(-50px);
  }

  to{
    opacity: 1;
    /* transform: rotateX(0); */
    transform: translateY(0);

  }
}
@keyframes transitionHamOut {
  from {
    opacity: 1;
    transform: rotateX(0)
  }

  to{
    opacity: 0;
    transform: rotateX(-10deg)
    }
}